.bgimg {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.7);
    position: absolute;
    z-index: -1;

}

.carouselcontainer {
    width: 75%;
    margin: auto;
    padding-top: 30px;

}

.carousel-inner img {
    margin: auto;
}

.c-item {
    height: 450px;
}

.c-img {
    height: 100%;
    object-fit: cover;
}

iframe {
    width: 100%;
}

#formpagebg {
    background-color: darkgray;
}


.gmaptitle {
    padding-bottom: 15px;
}
.contactform{
    margin: auto;
}